.form_loader {
    width: 20px;
    right: 31px;
    position: absolute;
    display: inline-block;
    margin: 18px 0 0 0px;
}

.form_loader_outer {
    width: 63px;
    right: 7px;
    position: absolute;
    display: inline-block;
    margin: 18px 0 0 0px;
    bottom: 0px;
}

.top-150px {
    top: 150px;
}

.ElementsApp,
.ElementsApp .InputElement {
    border: 1px solid #ddd !important;
    border-radius: 0;
    height: 3.625rem;
    line-height: 3.625rem;
    width: 100%;
    background: #fff;
}

.pre.disabled {
    display: inline-block;
    width: auto !important;
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.next.disabled {
    display: inline-block;
    width: auto !important;
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.disableonload.disabled {
    background: #f2f2f2 !Important;
    color: #666 !important;
}

.pre {
    display: inline-block;
    width: auto !important;
    margin-right: 20px;
}

.next {
    display: inline-block;
    width: auto !important;
}

.button-radius8x8 {
    border-radius: 8px 8px 8px 8px !important;
}

.bs-datepicker-head button.next {
    width: 30px !important;
}

form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
}

form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
}

form.checkout button:active {
    background: rgb(165, 76, 43);
}

.StripeElement {
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.btn_small_lable.activated {
    background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
}

.btn_small_lable {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 0 1.5625rem;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%); */
}

.web-page-div {
    margin: 40px 0;
    padding: 0;
    position: relative;
}

.web-page-div .web-page-section {
    margin: 0;
    padding: 0;
    position: relative;
}

.web-page-div .web-page-section h2 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #000;
    font-size: 28px;
    font-weight: 700;
}

.web-page-div .web-page-section .content-p-div p {
    margin: 0 0 20px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.web-page-div .web-page-section .content-p-div ul {
    margin: 0 0 20px 30px;
    padding: 0;
    list-style: disc;
}

.web-page-div .web-page-section .content-p-div ul li {
    margin: 0 0 20px 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

.prcing-table p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}

.pricing-two .prcing-table.web-pricing {
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 0 0 1px #ddd;
}

.contact-web-div {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

.contact-web-div h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #222;
    font-weight: 18px;
    font-weight: 700;
    text-align: center;
}

.contact-web-div p {
    margin: 0 0 10px 0;
    padding: 0;
    color: #666;
    font-weight: 13px;
    text-align: center;
}

.contact-web-div a {
    color: #4a28dd;
}

.contact-web-div a:hover {
    color: #000;
    text-decoration: underline;
}

.contact-web-social {
    text-align: center;
    margin: 0 !important;
}

.contact-web-social li {
    height: 2.75rem;
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 2.75rem;
    margin: 0 10px 0 0 !important;
    border-radius: 100px;
    text-align: center;
    background: #2d3136;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.contact-web-social li a {
    font-size: 1.2rem;
    color: #fff !important;
    line-height: 2.75rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: block
}

.contact-web-social li:not(:last-child) {
    margin-right: .5rem
}

.contact-web-social li:hover {
    background: #4777f4
}

.faq-web-div { margin: 0; padding: 0; position: relative;}
.faq-web-div p {margin: 0 0 20px 0;  padding: 0;   color: #666;   font-size: 14px;    line-height: 24px;}

.accordion-toggle { display: block;}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-default > .panel-heading {
background-image: -webkit-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
	background-image: -o-linear-gradient(65deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
    background-image: linear-gradient(25deg, #4a28dd 0%, #622cdf 50%, #782fe0 100%);
}
.panel-heading { border-radius: 0; border: 0;}
.panel-title { color:#fff!important;}