#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 450px;
    left: 880px;
    z-index: 100;
}

.has-error .form-control {
    border-color: #ea4335;
    box-shadow: none;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #ea4335;
}

.top-menu:hover {
    /* color:#878994 !important; */
    border: 1px solid #272c33;
    box-sizing: border-box;
}

.btn-group-sm > .btn, .btn-sm {
    border-radius: 0;
}

.capitalize{
    text-transform: capitalize;
}
.range_inputs .cancelBtn{
	display:none !important;
} 
.font-size-12{
	font-size:12px !important;
}
.margin-left-10{
	margin-left: 10px !important;
}